<%= bootstrap_form_for(@certificacion) do |f| %>
  <% if @certificacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@certificacion.errors.count, "error") %> prohibited this certificacion from being saved:</h2>

      <ul>
      <% @certificacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :titulo_certificacion %>
    <%= f.text_area :descripcion_certificacion %>
    <%= f.file_field :foto %>
    <% if current_uri = request.env['PATH_INFO'].to_s == "/certificacions/"+@certificacion.id.to_s+"/edit" %>
      <%= f.submit "Editar certificacion" %>
    <% else %>
      <%= f.submit "Crear certificacion" %>
    <% end %>
<% end %>
