<div class="container" style="margin-top:60px;">
<div class="jumbotron">
<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo certificacion:</strong>
  <%= @certificacion.titulo_certificacion %>
</p>

<p>
  <strong>Descripcion certificacion:</strong>
  <%= @certificacion.descripcion_certificacion %>
</p>
<p>
	<strong>Imagen:</strong><br>
	<img src="<%= @certificacion.foto.url %>" width="250px;">
</p>

<br>
<br>
<%= link_to 'Editar', edit_certificacion_path(@certificacion), :class=>"btn btn-warning" %> 
<%= link_to 'Atras', :back, :class=>"btn btn-success" %>
</div>
</div>