<%= bootstrap_form_for(@portafolio) do |f| %>
  <% if @portafolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portafolio.errors.count, "error") %> prohibited this portafolio from being saved:</h2>

      <ul>
      <% @portafolio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :titulo_portafolio %>
    <%= f.text_area :descripcion_portafolio %>
    <%= f.file_field :foto %>
    <% if current_uri = request.env['PATH_INFO'].to_s == "/portafolios/"+@portafolio.id.to_s+"/edit" %>
      <%= f.submit "Editar imagen" %>
    <% else %>
      <%= f.submit "Crear imagen" %>
    <% end %>
<% end %>
