<div class="container" style="margin-top:60px;">
<div class="jumbotron">
<h2 style="text-align:center;">Listado de Imagenes</h2>
<div class="table-responsive">

<table class="table table-bordered table-hover">
  <thead>
    <tr class="info">
      <th>Titulo portafolio</th>
      <th>Descripcion portafolio</th>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @portafolios.each do |portafolio| %>
      <tr>
        <td><%= portafolio.titulo_portafolio %></td>
        <td><%= portafolio.descripcion_portafolio %></td>
        <td><img src="<%= portafolio.foto.url %>" height="200px;"></td>
        <td><%= link_to 'Ver', portafolio, :class=>"btn btn-primary" %></td>
        <td><%= link_to 'Editar', edit_portafolio_path(portafolio), :class=>"btn btn-warning" %></td>
        <td><%= link_to 'Borrar', portafolio, method: :delete, data: { confirm: 'Esta seguro que desea borrar esta foto?' }, :class=>"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva imagen', new_portafolio_path, :class => "btn btn-primary" %>
<%= link_to 'Atras', :back, :class => "btn btn-primary" %>
<%= link_to 'Volver a pagina de administracion', '/admin', :class=>"btn btn-success" %>
</div>
</div>
</div>