<%= form_for(@servicio) do |f| %>
  <% if @servicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@servicio.errors.count, "error") %> prohibited this servicio from being saved:</h2>

      <ul>
      <% @servicio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre_servicio %><br>
    <%= f.text_field :nombre_servicio, :maxlength => 50, :placeholder => "Ingrese el nombre del servicio" %>
  </div>
  <div class="field">
    <%= f.label :descripcion_servicio %><br>
    <%= f.text_area :descripcion_servicio, :size => "48x5",:maxlength => 50, :placeholder => "Ingrese la descripcion del servicio" %>
  </div>
  <div class="field">
    <%= f.label :foto_servicio %><br>
    <%= f.file_field :foto %>
  </div>
  <div class="actions">
    <%= f.submit "Crear servicio"%>
  </div>
<% end %>
