<%= bootstrap_form_for(@servicio) do |f| %>
  <% if @servicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@servicio.errors.count, "error") %> prohibited this servicio from being saved:</h2>

      <ul>
      <% @servicio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :nombre_servicio, :maxlength => 50, :placeholder => "Ingrese el nombre del servicio" %>
    <%= f.text_area :descripcion_servicio, :size => "48x5",:maxlength => 50, :placeholder => "Ingrese la descripcion del servicio" %>
    <%= f.file_field :foto %>
    <% if current_uri = request.env['PATH_INFO'].to_s == "/servicios/"+@servicio.id.to_s+"/edit" %>
      <%= f.submit "Editar servicio" %>
    <% else %>
      <%= f.submit "Crear servicio" %>
    <% end %>
<% end %>
