<h1>Listing informacions</h1>

<table>
  <thead>
    <tr>
      <th>Contenido informacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @informacions.each do |informacion| %>
      <tr>
        <td><%= informacion.contenido_informacion %></td>
        <td><%= link_to 'Show', informacion %></td>
        <td><%= link_to 'Edit', edit_informacion_path(informacion) %></td>
        <td><%= link_to 'Destroy', informacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Informacion', new_informacion_path %>
