<%= bootstrap_form_for(@acontecimiento) do |f| %>
  <% if @acontecimiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acontecimiento.errors.count, "error") %> prohibited this acontecimiento from being saved:</h2>

      <ul>
      <% @acontecimiento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :periodo_acontecimiento %>
    <%= f.text_field :titulo_acontecimiento %>
    <%= f.text_area :descripcion_acontecimiento %>
    <%= f.file_field :foto %>
    <% if current_uri = request.env['PATH_INFO'].to_s == "/acontecimientos/"+@acontecimiento.id.to_s+"/edit" %>
      <%= f.submit "Editar acontecimiento" %>
    <% else %>
      <%= f.submit "Crear acontecimiento" %>
    <% end %>
<% end %>