<div class="container" style="margin-top:60px;">
<div class="jumbotron">
<h2 style="text-align:center;">Listado de Acontecimientos</h2>
<div class="table-responsive">

<table class="table table-bordered table-hover">
  <thead>
    <tr class="info">
      <th>Periodo acontecimiento</th>
      <th>Titulo acontecimiento</th>
      <th>Descripcion acontecimiento</th>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acontecimientos.each do |acontecimiento| %>
      <tr>
        <td><%= acontecimiento.periodo_acontecimiento %></td>
        <td><%= acontecimiento.titulo_acontecimiento %></td>
        <td><%= acontecimiento.descripcion_acontecimiento %></td>
        <td><img src="<%= acontecimiento.foto.url %>" width="100px;"></td>
        <td><%= link_to 'Ver', acontecimiento, :class => 'btn btn-success' %></td>
        <td><%= link_to 'Editar', edit_acontecimiento_path(acontecimiento),:class => 'btn btn-warning' %></td>
        <td><%= link_to 'Borrar', acontecimiento, method: :delete, data: { confirm: 'Esta seguro que desea borrar este acontecimiento?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<%= link_to 'Nuevo Acontecimiento', new_acontecimiento_path, :class=>"btn btn-primary" %>
<%= link_to 'Atras', :back, :class=>"btn btn-primary" %>
<%= link_to 'Volver a pagina de administracion', '/admin', :class=>"btn btn-success" %>
</div>
</div>

